<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>ru.skilanov.filter.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>ru.skilanov.contextlistener.AppContextListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>ru.skilanov.controller.users.MainPageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllUsers</servlet-name>
        <servlet-class>ru.skilanov.controller.users.AllUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AllUsers</servlet-name>
        <url-pattern>/usersList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>ru.skilanov.controller.users.CreateUserServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>ru.skilanov.controller.users.DeleteUserServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>ru.skilanov.controller.users.UpdateUserServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUserInfo</servlet-name>
        <servlet-class>ru.skilanov.controller.users.UpdateUserInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateUserInfo</servlet-name>
        <url-pattern>/updateUserInfo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserPurses</servlet-name>
        <servlet-class>ru.skilanov.controller.purses.UserPursesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UserPurses</servlet-name>
        <url-pattern>/purses</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>ru.skilanov.controller.users.RegisterUserServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogOutUser</servlet-name>
        <servlet-class>ru.skilanov.controller.users.LogoutServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LogOutUser</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddCurrency</servlet-name>
        <servlet-class>ru.skilanov.controller.currencies.CreateCurrencyServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddCurrency</servlet-name>
        <url-pattern>/addCurrency</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AllCurrencies</servlet-name>
        <servlet-class>ru.skilanov.controller.currencies.AllCurrencyServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AllCurrencies</servlet-name>
        <url-pattern>/currencyList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteCurrency</servlet-name>
        <servlet-class>ru.skilanov.controller.currencies.DeleteCurrencyServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DeleteCurrency</servlet-name>
        <url-pattern>/deleteCurrency</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCurrency</servlet-name>
        <servlet-class>ru.skilanov.controller.currencies.UpdateCurrencyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateCurrency</servlet-name>
        <url-pattern>/updateCurrency</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddPurse</servlet-name>
        <servlet-class>ru.skilanov.controller.purses.AddPurseServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddPurse</servlet-name>
        <url-pattern>/addPurse</url-pattern>
    </servlet-mapping>
</web-app>